
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc


venv/
.venv/
env/
ENV/
env.bak/
*.env
*.env.*


db.sqlite3
*.sqlite3


**/migrations/*.py
!**/migrations/__init__.py


*.log
*.pot
*.mo
*.pid
*.seed
*.backup
*.bak


media/
staticfiles/
static/


.idea/
.vscode/
*.swp
*.swo


.DS_Store
Thumbs.db


.tox/
.coverage
coverage.xml
*.cover
htmlcov/


.pytest_cache/


.ipynb_checkpoints/


.mypy_cache/
.pyrightcache/
.pylint.d/


build/
dist/
*.egg-info/


*.pid
.idea