{% extends 'base.html' %}
{% block title %}Добавить задачу{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Создание задачи</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Название задачи</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Статус</label>
            <select class="form-select" id="status" name="status" required>
                {% for status in status_choices %}
                    <option value="{{ status.0 }}">{{ status.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="finish_date" class="form-label">Дата выполнения</label>
            <input type="date" class="form-control" id="finish_date" name="finish_date">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% endblock %}