{% extends 'base.html' %}
{% block title %}Список задач{% endblock %}


{% block content %}
    <div class="container">
        <div class="row mb-4 mt-5">
            {% for task in tasks %}
            <div class="col-sm-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.title }}</h5>
                        <p class="card-text">{{ task.description }}</p>
                        <a href="{% url 'task_detail' task.id %}" class="btn btn-primary">Подробно</a>
                    </div>
                </div>
            </div>
             {% empty %}
             <p>Нет задач</p>
            {% endfor %}
        </div>
        <a class="btn btn-primary" href="{% url 'add_task' %}" role="button">Добавить новую задачу</a>
    </div>
{% endblock %}